@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

root {
  --text-color: black;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #e3e7aa;
  font-family: 'Inter',
    sans-serif;
}

h1 {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 30px;
  font-size: 26px;
}

.present-score {
  text-align: center;
  color: var(--text-color);
  ;
  margin-bottom: 18px;
}

.score {
  color: var(--text-color);
  ;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 660px;
  flex-wrap: wrap;
}

.score div {
  margin-right: 10px;
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  transform: scale(1);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

/**************** FOOTER **********************/
.footer-wrap {
  display: flex;
  background-color: black;
  height: 8vh;
  border-radius: 0 0 30px 30px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  width: 630px;
}

.footer-git-wrap {
  color: white;
}

.footer-git-wrap span {
  margin-right: 20px;
}

.footer .img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-rs-wrap img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rss {
  height: 40px;
}


.rss:hover,
.git-link:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  transition: 0.3s;
}

.git-link,
.rs-link {
  text-decoration: none;
  transition: color 0.5s;
  color: white;
}